{
  "semi": true,                 
  "trailingComma": "all",       
  "singleQuote": true,         
  "printWidth": 100,            
  "tabWidth": 2,                
  "useTabs": false,             
  "arrowParens": "avoid",       
  "endOfLine": "auto",          
  "jsxSingleQuote": true,       
  "jsxBracketSameLine": false,  
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200       
      }
    }
  ]
}
