.collectionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.collectionItem {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 25px;
  width: 595px;
  height: 20px;
  left: 750px;
  top: 592px;
  background: #f8f8f7;
  border-radius: 10px;
}

.collectionTime {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 60px;
  height: 30px;
  background: #ffffff;
  border-radius: 5px;
}

.collectionText {
  color: #8c8c8c;
}

.collectionId {
  color: #1d1d1d;
  font-weight: 500;
}

.collectionIcon {
  margin-left: auto;
}
