.paginationWrap {
  display: flex;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.pagButton {
  position: relative;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  text-align: left;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 2px;
  color: #8c8c8c;
  padding: 0;
  background-color: #f8f8f7;
}

.pagButton:hover {
  cursor: pointer;
  color: #ff868e;
  background-color: #fbe0dc;
}

.pagButton:active {
  background-color: #ff868e;
  color: #fff;
}

.prevButton {
  background: url(./images/icons/arrow.svg) no-repeat;
  padding-left: 55px;
  background-position: 30px 12px;
  background-color: #f8f8f7;
}
.prevButton:hover {
  background-image: url(./images/icons/arrow-hover.svg);
}

.prevButton:active {
  background-image: url(./images/icons/arrow-active.svg);
}

.nextButton {
  padding-left: 30px;
}

.nextButton:before {
  position: absolute;
  top: 12px;
  right: 30px;
  transform: scaleX(-1);
  content: '';
  width: 16px;
  height: 16px;
  background: url(./images/icons/arrow.svg) no-repeat;
}

.nextButton:hover.nextButton:before {
  background-image: url(./images/icons/arrow-hover.svg);
}

.nextButton:active.nextButton:before {
  background-image: url(./images/icons/arrow-active.svg);
}
