.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fbe0dc;
  border: none;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;

  svg path {
    fill: #ff868e;
  }

  &:hover {
    background-color: #ff868e;
    svg path {
      fill: white;
    }
  }
}
