.layoutSection {
  position: relative;
  padding: 30px 30px 20px 150px;
  display: flex;
  gap: 135px;
}

.layoutWrap {
  @media screen and (min-width: 1440px) {
    position: fixed;
  }
}

.logo {
  width: 105px;
  height: 25px;
  font-family: inherit;
}

.title {
  margin-top: 80px;
  font-family: inherit;
  font-weight: 500;
  font-size: 44px;
  line-height: calc(58 / 44);
  color: #1d1d1d;
}

.headerCaption {
  margin-top: 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8c8c8c;
}

.navCaption {
  margin-top: 60px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #1d1d1d;
}

.inProgressText {
  color: rgb(216, 216, 92);
}

.readyText {
  color: green;
}

.mainSection {
  position: absolute;
  @media screen and (min-width: 1440px) {
    left: 720px;
    width: 680px;
    height: 840px;
  }

  @media screen and (max-width: 1439px) {
    left: 30px;
    width: 710px;
    height: 895px;
  }
}
