.wrap {
  display: flex;
  gap: 10px;
}

.categoryName {
  display: inline-block;
  width: 146px;
  height: 40px;
  background: #ff868e;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  color: #ffffff;
}
