.gallery {
  max-width: 640px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 140px 140px 140px;
  grid-gap: 20px;
  margin-top: 20px;
}

.galleryImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.galleryItems {
  position: relative;
  overflow: hidden;
}

.galleryItems:hover::before {
  content: '';
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 20px;
  cursor: pointer;
  background: rgba(255, 134, 142, 0.6);
}

.galleryItems:hover .galleryButton {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.galleryButton {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  width: 180px;
  height: 35px;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: #ff868e;
}

.item_1 {
  position: relative;
  grid-row: 1 / 3;
}

.item_2 {
  position: relative;
}

.item_3 {
  position: relative;
  grid-column: 3 / 4;
}

.item_4 {
  position: relative;
}

.item_5 {
  position: relative;
  grid-row: 2 / 4;
  grid-column: 2 / 4;
}

.item_6 {
  position: relative;
  grid-row: 1 / 2;
}

.item_8 {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.item_9 {
  position: relative;
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}
